<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object" data-src="holder.js/100x100">
	</a>
	<div class="media-body">
		<h4 class="media-heading">{{ staff.fullname }}</h4>
		<div class="media">
			{{ staff.bio }}
		</div>
	</div>
</div>