<div class="navbar">
	<div class="navbar-inner">
	<ul class="nav">
		<li id="navbar-home">{{ anchor(staff.username, 'Home</a>') }}</li>
		<li id="navbar-blog">{{ anchor(staff.username ~ '/blog', 'Artikel Blog</a>') }}</li>
		<li id="navbar-download">{{ anchor(staff.username ~ '/download', 'Unduh File</a>') }}</li>
		<li id="navbar-profile">{{ anchor(staff.username ~ '/profile', 'Profil</a>') }}</li>
	</ul>
	<form class="navbar-form form form-search pull-right">
		<input type="text" class="span3" placeholder="Search..." />
	</form>
	</div>
</div>