<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<ul class="nav">
			<li>
				<a href="#" style="padding-top: 5px; padding-bottom: 0">
					<img src="{{ base_url() ~ 'img/uii.png'}}" style="height: 30px"/>
				</a>
			</li>
			<li class="divider-vertical"></li>
			<li><a href="{{ base_url() }}admin"><i class="icon-white icon-cog"></i> Admin Area</a></li>
			<li class="divider-vertical"></li>
			<li><a href="#"><i class="icon-white icon-plus"></i> Tulis Artikel Baru</a></li>
			<li class="divider-vertical"></li>

		</ul>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="icon-white icon-user"></i> {{ current.fullname }}
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Edit Profil</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>