{% extends _layout %}

{% block content %}

<div class="hpad page-header">
	<h2>Dashboard</h2>
</div>

<div class="row">
	<div class="span4">
		<div class="widget">
			<div class="title">
			Overview
			</div>
			<div class="body">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>

	<div class="span4">
		<div class="widget">
			<div class="title">
				Terbanyak dikunjungi
			</div>
			<div class="body">
				<ol>
					{% for article in articles.get() %}
						<li>
							<a href="{{ article.url() }}">{{ article.title }}</a> 
							<em>({{ article.viewed }} kali)</em></li>
					    
					{% endfor %}
				</ol>
			</div>
		</div>
	</div>

	<div class="span4">
		<div class="widget">
			<div class="title">
			ABC
			</div>
			<div class="body">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>

</div>

{% endblock %}