body{
	background: #ddd;
	margin: 30px;
	&.login{
		margin-top: 60px;
	}
}

.container{
	// border: 1px solid #ccc;
	box-shadow: 0px 0px 5px 0px #aaa;
}

#header{
	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	
	color: #eee;
	font-size: 28px;
	// font-weight: bold;
	font-family: sans;

	padding: 20px;
}

#footer{
	font-size: 0.8em;
	color: #999;
	text-align: center;
	margin-top: 6em;
	padding: 1em 0;
}

.hpad{
	padding-left: 1em;
	padding-right: 1em;
}

.container{
	background: white;
}

.widget{
	background: #fafafa;
	margin: 0 0.5em;
	border: 1px solid #ddd;

	.title{
		color: #666;
		font-size: 11px;
		font-weight: bold;
		background: #346;
		background: url('../img/gradient.gif');
		border-bottom: 1px solid #ddd;
		padding: 5px;
	}

	.body{
		padding: 15px 10px 10px;
	}
}

.table {
	td:last-child{
		text-align: right;
		min-width: 75px;
	}
	tr:hover td{
		background-color: #f5f5f5;
	}
}

a.nolink{
	cursor: pointer;
}