{% extends _layout %}

{% block content %}

	<div class="page-header">
		<h3> {{ anchor(article.url(), article.title) }} </h3>
	</div>

	<div>
		{{ article.content }}
	</div>

	<hr>
	
	{% include '_parts/bottom_profile.html.twig' %}
{% endblock %}

{% block sidebar %}
	{% include '_parts/side_article_detail.html.twig' %}
{% endblock %}