{% extends _layout %}

{% block content %}

	{% set articles = staff.latest_articles().get_paged(page, 10) %}

	<div class="page-header">
		<h3>Artikel Blog</h3>
	</div>

	<div>
		Page {{ page }} of {{ articles.paged.total_pages }} &mdash; 

		&laquo;
		{% for i in range(1, articles.paged.total_pages) %}
		    [{{ i }}] 
		{% endfor %}
		&raquo;
	</div>
	
	{% for article in articles %}
		{% include '_loops/article.html.twig' %}
	{% endfor %}

{% endblock %}	

{% block sidebar %}
	{% include '_parts/side_profile.html.twig' %}
{% endblock %}