{% extends _layout %}

{% block content %}

	{% set files = staff.files().get_paged(page, 10) %}

	<div class="page-header">
		<h3>File Terbaru</h3>
	</div>

	{% if files|length > 1 %}
	<div>
		Page {{ page }} of {{ files.paged.total_pages }} &mdash; 

		&laquo;
		{% for i in range(1, files.paged.total_pages) %}
		    [{{ i }}] 
		{% endfor %}
		&raquo;
	</div>
	{% endif %}

	{% for file in files %}
		{% include '_loops/file.html.twig' %}
	{% else %}
	    <em>Belum ada file untuk di-download</em>
	{% endfor %}

{% endblock %}

{% block sidebar %}
	{% include '_parts/side_profile.html.twig' %}
{% endblock %}