{% extends _layout %}

{% block content %}

	{% for article in staff.articles().get_paged(1, 10) %}
		{% include '_loops/article.html.twig' %}
	{% endfor %}

	<hr>

	<h5>File Terbaru</h5>
	{% for file in staff.files().get_paged(1, 5) %}
		{% include '_loops/file.html.twig' %}
	{% endfor %}

{% endblock %}

{% block sidebar %}
	{% include '_parts/side_profile.html.twig' %}
{% endblock %}