<!doctype html>
<html>
<head>
	<title></title>
	<style type="text/css">
		.left{
			background: #ddd;
			width: 50%;
			float: left;
		}
		.right{
			background: #777;
			width: 50%;
			float: right;
		}
	</style>
</head>
<body>

	{{ img({ 'src': 'img/uii.jpg', 'width': 100}) }}
	{{ img('img/staffsite.png') }}
	<div>
		<div class="left">
			asd
		</div>

		<div class="right">
			asd
		</div>
	</div>
</body>
</html>